<div class="rounded-md overflow-hidden">
    <table mat-table [dataSource]="data?.rows" class="w-full">

        <ng-container *ngFor="let columnConfig of columnsConfig">

            <ng-container [matColumnDef]="columnConfig.field">
                <th mat-header-cell *matHeaderCellDef class="min-w-lg">{{ columnConfig.field }}</th>

                <!-- ngSwitch for grid cell -->
                <ng-container [ngSwitch]="columnConfig.type">
                    <ng-container *ngSwitchCase="columnConfigType.STRING">
                        <td mat-cell *matCellDef="let element" class="min-w-lg">{{ element | get:columnConfig.field }}</td>
                    </ng-container>
                </ng-container>
                <!-- / ngSwitch for grid cell -->

            </ng-container>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator  [length]="data.count"
                    [pageSizeOptions]="[10, 20, 50]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
    </mat-paginator>
</div>