<table mat-table [dataSource]="data?.rows">

    <ng-container *ngFor="let columnConfig of columnsConfig">

        <!-- ngSwitch for grid cell -->
        <ng-container matColumnDef="{{ columnConfig.field }}">
            <th mat-header-cell *matHeaderCellDef> {{ columnConfig.field }} </th>

            <ng-container *ngIf="columnConfig.type === columnConfigType.STRING">
                <td mat-cell *matCellDef="let element">{{ element | get:columnConfig.field }}</td>
            </ng-container>

        </ng-container>
        <!-- / ngSwitch for grid cell -->

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
